body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(72, 45, 14);
}

.body {
    margin-top: 1rem;
    padding: 2rem;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(37, 29, 9, 0.5);
    border-radius: 5px;
    align-items: center;
    background-color: rgb(161, 147, 123);
    margin-bottom: 1rem;
    
}

h1 {
    text-align: center;
}

p:first-of-type {
    margin-right: 1rem;
}

canvas {
    border: 2px solid black;
    border-radius: 5px;
}

h2 {
    margin-top: 10px;
}

.lysing {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 512px;
}

#gl-canvas {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)); /* Dökkt vinstramegin og ljósara hægramegin */
}