html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 8px;
}
canvas {
    border: 10px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#gl-canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #000;  /* Valfrjálst, til að sýna strigann betur */
}

#stig {
    margin-bottom: 1rem;
}

.scoreBoard {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f4;
    width: 1500px;
    font-weight: bolder;
    font-size: x-large;
}

a {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

